@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

:root {
  --main: #FFFFFF;
  --secondary: #F0F0F0;
  --accent: #F2C32F;
  --dark: #E5E5E5;
  --text: #26262b;
}

.dark {
  --main: #34353A;
  --secondary: #3C3E43;
  --accent: #F1BE6C;
  --dark: #26262b;
  --text: #E5E5E5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

/* Carousles */

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
}


/* SCROLLBARS */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

::-webkit-scrollbar-track {
  background: var(--accent);
}

::-webkit-scrollbar-thumb:horizontal {
  top: 0;
}